<div class="shortcut">
  <div class="top"></div>
  
  <div class="content">
  	<h2>Shortcut</h2>
      <ul id="shortcut_item" class="items">
      	<li>
      		<a href="" title="Graph">
      			<%= image_tag "graph_48.png" %>
      		</a>
      	</li>
      	<li>
      		<a href="" title="Data">
      			<%= image_tag "data_48.png" %>
      		</a>
      	</li>
        <li>
      		<a href="" title="Calendar">
      		  <%= image_tag "calendar_48.png" %>
      		</a>
      	</li>
      	<li>
      		<a href="" title="Print">
      			<%= image_tag "printer_48.png" %>
      		</a>
      	</li>
      </ul>
      <br class="clear"/>
  </div>
  <div class="footer"></div>
</div><!-- End shortcut menu -->

<br class="clear"/>
