<!-- Begin top bar -->
<div id="top_bar">
	<div class="logo">
		<!-- <img src="images/logo.png" alt=""/> -->
		Fatherhood
	</div>
	
	<div class="account">
		<div class="detail">
			Hello <a href=""><strong>Mark Holton</strong></a>
		</div>
		<ul class="icon">
			<li>
				<a href="/" title="Message">
					<img src="/images/icon_message.png" alt="" class="middle"/>
				</a>
			</li>
			<li>
				<a href="" title="Setting">
					<img src="/images/icon_setting.png" alt="" class="middle"/>
				</a>
			</li>
			<li>
				<a href="" title="Logout">
					<img src="/images/icon_logout.png" alt="" class="middle"/>
				</a>
			</li>
		</ul>
	</div><!-- End account menu -->
</div><!--End top bar -->
